.gitignore
DinX.suo
*.db
DinX.Common/bin
DinX.Common/obj
DinX.Data/bin
DinX.Data/obj
DinX.Logic/bin
DinX.Logic/obj
DinX.Tests/bin
DinX.Tests/obj
DinX.Web/App_Data
DinX.Web/bin
DinX.Web/obj
DinX.4.5.resharper.user

_ReSharper.DinX
