/*----------------------------------------------------------
HTML-Tags
----------------------------------------------------------*/
body
{
	background-color: #FFFFFF;
	font-family: Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
	color: #000000;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

fieldset
{
	border: solid 1px #DDDDDD;
}

/* Classes   
----------------------------------------------------------*/
#page
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	color: #000000;
}

#header
{
	margin-bottom: 80px;
}

#title
{
	font-weight: bold;
	color: #0066CC;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px !important;
	text-align: left;
	float: left;
	width: 200px;
}

#logo
{
	float: left;
	margin-right: 30px;
	display: block;
}

#search
{
	float: left;
	margin-top: 15px;
}

#search input[type="text"]
{
	width: 400px;
}

#main
{
	width: 100%;
}

#menu
{
	width: 100%;
	vertical-align: top;
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

#menu a
{
	text-decoration: none;
}

#content
{
	vertical-align: top;
	margin-top: 10px;
}

#pagetitle
{
	margin: 0;
}

#footer
{
    text-align: center;
    line-height: normal;
}

.menuitem
{
	text-align: left;
	display: inline;
}


/* Login  
----------------------------------------------------------*/
#logindisplay
{
	text-align: right;
	color: #000000;
	font-size: 10pt;
}

#logindisplay a:link
{
	color: #000000;
	text-decoration: underline;
}

#logindisplay a:visited
{
	color: #000000;
	text-decoration: underline;
}

#logindisplay a:hover
{
	color: #000000;
	text-decoration: none;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}
